@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap");

@keyframes blink {
  0% {
    background: #fa8334;
  }
  7% {
    background: #8ee23f;
  }
  14% {
    background: #db4868;
  }
  21% {
    background: #388697;
  }
  28% {
    background: #9b5ebb;
  }
  35% {
    background: #ff6700;
  }
  42% {
    background: #ebebeb;
  }
  49% {
    background: #c0c0c0;
  }
  56% {
    background: #3a6ea5;
  }
  63% {
    background: #ffe882;
  }
  70% {
    background: #1d8685;
  }
  77% {
    background: #0b6e4f;
  }
  85% {
    background: #08a045;
  }
  92% {
    background: #6bbf59;
  }
  100% {
    background: #fa8334;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  animation: blink 60s infinite;
  clip-path: polygon(0% 0%, 74% 0, 91% 49%, 74% 100%, 0% 100%);

  height: 100%;
  width: 100%;
  position: absolute;
}

.white-container {
  background-color: white;
  width: 100%;
  height: 100%;
}

.up {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97%;
}

.down {
  height: 3%;
}

.progress-bar {
  width: 65%;
  height: 80%;
  margin-left: 5px;
  border-radius: 20px;

  display: flex;
  align-items: center;

  background-color: black;
  color: black;
  font-size: 1.75vh;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: bolder;
}

.progress-bar::before {
  content: attr(data-label);
  width: calc(var(--width, 0) * 1%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  height: 100%;
  padding-left: 0.5vw;

  min-width: 55px;
  max-width: 100%;

  animation: blink 60s infinite;
  border-radius: 20px;
}

.small-container {
  width: 25%;
  padding-top: 25%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.line {
  background-color: black;
  margin: 4vw;
  width: 0.35vw;
  height: 60vh;
}

.numbers {
  font-family: "Fredericka the Great", cursive;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 6vw;
}

.current {
  position: relative;
  top: 5vw;
  left: 5.5vw;
}

.slash {
  position: relative;
  left: 11.5vw;
}

.total {
  position: relative;
  bottom: 5vw;
  left: 13vw;
}

.questions {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  z-index: 0;
}

.my-selection {
  height: 10%;
  padding-bottom: 1vw;
}

.img-question-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16vw;
  width: 16vw;
}

.img-question {
  width: 15vw;
}

.img-answers-container {
  margin-top: 0.5vw;
  border-top: 0.3vw solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 23vw;
  height: 5vw;
}

.img-answers {
  width: 22vw;

  padding-top: 0.5vw;
}

.radio {
  padding-right: 1.5vw;
  width: 19.5vw;
  display: flex;
  justify-content: space-between;
}

.radio.none {
  pointer-events: none;
}

input[type="radio"] {
  display: none;
}

label::before {
  content: "";
  position: absolute;
  height: 1.5vw;
  width: 1.5vw;
  border-radius: 50%;
  border: 0.25vw solid black;
  cursor: pointer;
}

label.correct:before {
  border: 0.25vw solid rgb(47, 206, 8)
}

label.white:before {
  border: 0.25vw solid white;
}

label.black:before {
  border: 0.25vw solid black;
}

input[type="radio"]:checked + label::before {
  content: "";
  position: absolute;
  height: 1.5vw;
  width: 1.5vw;
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
}

.my-buttons {
  display: flex;
  justify-content: center;
  padding-top: 2vw;
}

button {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.5vw;
  padding: 0.3vw;
  margin: 0.1vw;
  background: none;
  border: 0.2vw solid;
  line-height: 1;
  transition: 0.25s;
  border-color: black;
  user-select: none;
  cursor: pointer;
}

.raise:hover {
  box-shadow: 0 0.5em 0.5em -0.4em black;
  transform: translateY(-0.25em);
  outline: 0;
}

.raise:focus {
  outline: 0;
}

.modal-container {
  opacity: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
}

.modal-container.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  background-color: rgba(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 30px 50px;
  width: 40vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h1 {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 3vw;
  margin: 0;
}

p {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.5vw;
}

.score {
  font-size: 2vw;
  margin-top: -4.3vw;
  text-align: center;
}